<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{http://localhost:8080/index}" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin_product/categories}" >List Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin_product/products}">List Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin_user/users}">List User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/admin_user/roles}">List Role</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/admin_cart/carts}">List Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="">Report</a>
                </li>
            </ul>
        </div>
    </nav>
</div>