<!doctype html>
<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:include="/home"></th:block>
<body>
<th:block th:include="/index"></th:block>
<div class="container mt-3">
    <h2>FORM</h2>
    <form th:object="${product}" th:action="@{/admin_product/product/create}" method="post" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="name">NAME:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" th:field="*{name}" >
        </div>
        <div class="mb-3 mt-3">
            <label for="price">PRICE:</label>
            <input type="text" class="form-control" id="price" placeholder="Enter price" th:field="*{price}" >
        </div>
        <div class="mb-3 mt-3">
            <label for="quantity">QUANTITY:</label>
            <input type="text" class="form-control" id="quantity" placeholder="Enter quantity" th:field="*{quantity}" >
        </div>
        <div class="mb-3 mt-3">
            <label for="img_url">IMG_URL:</label>
            <input type="file" class="form-control" id="img_url"  th:field="*{img_url}" >
        </div>
        <div class="mb-3 mt-3">
            <label for="category_id">CATEGORY:</label>
            <select th:field="*{category}">
                <option th:each="item : ${categories}" th:value="${item.id}" th:text="${item.name}" id="category_id" ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
    </form>
</div>
</body>
</html>