<!--<!doctype html>-->
<!--<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<th:block th:include="/home"></th:block>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>-->

<!--<body>-->
<!--<th:block th:include="/index"></th:block>-->
<!--<div class="container mt-3">-->
<!--    <h2>FORM</h2>-->
<!--    <form th:object="${user}" th:action="@{/admin_user/user/create}" method="post">-->
<!--        <div class="mb-3 mt-3">-->
<!--            <label for="username">USERNAME:</label>-->
<!--            <input type="text" class="form-control" id="username" placeholder="Enter name" th:field="*{userName}" >-->
<!--        </div>-->
<!--        <div class="mb-3 mt-3">-->
<!--            <label for="password">PASSWORD:</label>-->
<!--            <input type="password" class="form-control" id="password" placeholder="Enter name" th:field="*{passWord}" >-->

<!--        </div>-->
<!--        <div class="mb-3 mt-3">-->
<!--            <label for="role_id">ROLE:</label>-->
<!--            <select th:field="*{roleId}" id="role_id" class="form-select" aria-label="Default select example">-->
<!--                <option th:each="item : ${roles}" th:value="${item.id}" th:text="${item.name}" ></option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        <button type="reset" class="btn btn-danger">Reset</button>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->